.nav-container {
    position: fixed;
    top: 50%; /* For desktop view */
    left: 20px;
    transform: translateY(-50%);
    z-index: 10;
}

.navbar {
    background: var(--input-bg);
    backdrop-filter: blur(10px);
    border: 1px solid var(--border-color);    
    display: flex;
    flex-direction: column; /* Default column layout */
    align-items: center;
    padding: 20px 10px;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
}

.navbar-links {
    list-style: none;
    display: flex;
    flex-direction: column; /* Default column layout */
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar-item {
    position: relative;
    margin: 10px 0;
}

.navbar-item a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 510;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s ease;
}

.navbar-item a .icon {
    font-size: 18px;
    background-color: transparent;
    border-radius: 50%;
    padding: 8px;
    transition: all 0.3s ease;
}

.navbar-item a:hover .icon,
.navbar-item a.active .icon {
    background: var(--primary-color);
    color: white;
    box-shadow: 0px 0px 15px rgba(var(--primary-color-rgb), 0.6);
    transform: scale(1.05);
}

.navbar-item a .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 12px;
    font-weight: 500;
}

.navbar-item a:hover .tooltip {
    visibility: visible;
    opacity: 1;
}


/* Media Query for Mobile */
@media (max-width: 768px) {
    .nav-container {
        display: flex;
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%; /* Allow better responsiveness */
        max-width: 300px;
        justify-content: center; /* Align center on mobile */
        align-items: end;
    }

    .navbar {
        flex-direction: row; /* Horizontal layout for mobile */
        padding: 8px 10px;
        height: 50px;
        border-radius: 50px;
        width: 100%; /* Adjust to container width */
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    }

    .navbar-links {
        flex-direction: row; /* Horizontal layout for links */
        justify-content: center;
        width: 100%;
    }

    .navbar-item {
        margin: 0 10px;
    }

    .navbar-item a {
        flex-direction: column;
        gap: 5px;
    }

    .navbar-item a .icon {
        font-size: 16px;
        padding: 6px;
    }
}
