

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; /* Apply the programming font */
}




:root {
  --primary-color: #00d8ff;
  --secondary-color: #041620;
  --primary-color-rgb: 0, 216, 255;


}



/* Section heading styles */
.headings-container {
  margin-bottom: 40px;
  display: flex;
  gap: 10px;
}

.section-heading-1,
.section-heading-2 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
}

.section-heading-1 {
  color: #94a3b8;
}

.section-heading-2 {
  background: linear-gradient(135deg, #3b82f6, #8b5cf6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 0 25px rgba(var(--primary-color-rgb), 0.6);

}

button{
  cursor: pointer;
  border: none;
}


/* Responsive Styles */
@media (max-width: 1024px) {
  .section-heading-1, .section-heading-2 {
    font-size: 40px;
  }
  .headings-container {
    gap: 15px;
  }
}

@media (max-width: 768px) {
  .section-heading-1, .section-heading-2 {
    font-size: 35px;
  }
  .headings-container {
    gap: 10px;
  }
}

@media (max-width: 576px) {
  .section-heading-1, .section-heading-2 {
    font-size: 28px;
    gap: 8px;
  }
}

@media (max-width: 400px) {
  .section-heading-1, .section-heading-2 {
    font-size: 22px; 
    gap: 5px;
  }
}




